
.jxtportal {
  font-family:"jxtportal" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jxt-f10:before { content: "\e611"; }

.jxt-graphrise:before { content: "\e657"; }

.jxt-bianji1:before { content: "\e65c"; }

.jxt-fenlei:before { content: "\e63b"; }

.jxt-beizhu:before { content: "\e609"; }

.jxt-arrowright:before { content: "\e638"; }

.jxt-wenhao:before { content: "\e63c"; }

.jxt-chenggong:before { content: "\e64b"; }

.jxt-dingdan:before { content: "\e629"; }

.jxt-back-top:before { content: "\e61a"; }

.jxt-dingwei:before { content: "\e658"; }

.jxt-dianpu:before { content: "\e60f"; }

.jxt-shanchu:before { content: "\e62a"; }

.jxt-jiangpai:before { content: "\e651"; }

.jxt-duigou:before { content: "\e613"; }

.jxt-right:before { content: "\e60d"; }

.jxt-link:before { content: "\e61d"; }

.jxt-new:before { content: "\e681"; }

.jxt-shangchuan:before { content: "\e6a5"; }

.jxt-iconfontonetouchqianyue:before { content: "\e635"; }

.jxt-iconfonttupian:before { content: "\e61e"; }

.jxt-kehuguanli:before { content: "\e639"; }

.jxt-huiyuan:before { content: "\e628"; }

.jxt-huodong:before { content: "\e61f"; }

.jxt-icon:before { content: "\e655"; }

.jxt-zhuangxiu:before { content: "\e652"; }

.jxt-iconfontwenjian:before { content: "\e63e"; }

.jxt-moban:before { content: "\e636"; }

.jxt-youhuiquan:before { content: "\e62b"; }

.jxt-bangzhuzhongxin:before { content: "\e600"; }

.jxt-celvezhongxin:before { content: "\e601"; }

.jxt-huiyuanzhongxin:before { content: "\e602"; }

.jxt-kehuzhongxin:before { content: "\e603"; }

.jxt-quanyizhongxin:before { content: "\e604"; }

.jxt-shouye:before { content: "\e605"; }

.jxt-yingyongfuwu:before { content: "\e606"; }

.jxt-yingxiaozhongxin:before { content: "\e607"; }

.jxt-toutiao:before { content: "\e608"; }

.jxt-down:before { content: "\e60a"; }

.jxt-up:before { content: "\e60c"; }

.jxt-tianjia:before { content: "\e60b"; }

.jxt-bianji:before { content: "\e610"; }

.jxt-juxing11:before { content: "\e64d"; }

.jxt-gouwudai:before { content: "\e620"; }

.jxt-mingcheng:before { content: "\e612"; }

.jxt-yigou:before { content: "\e614"; }

.jxt-fangke:before { content: "\e615"; }

.jxt-jiahao:before { content: "\e616"; }

.jxt-jianhao:before { content: "\e617"; }

.jxt-gexinghuashouye:before { content: "\e618"; }

.jxt-gexinghuaxiangqing:before { content: "\e619"; }

.jxt-zhankaiicon:before { content: "\e61b"; }

.jxt-shouqiicon:before { content: "\e61c"; }

.jxt-guide:before { content: "\e64c"; }

.jxt-renqun:before { content: "\e621"; }

.jxt-yemian:before { content: "\e622"; }

.jxt-dianpu1:before { content: "\e623"; }

.jxt-shangpinxiliepianhaoicon:before { content: "\e60e"; }

.jxt-xiala-copy:before { content: "\e63f"; }

.jxt-juxingtaipingmianicon:before { content: "\e624"; }

.jxt-comiisfangke:before { content: "\e62f"; }

.jxt-celveyouxianjijiangicon:before { content: "\e625"; }

.jxt-celveyouxianjishengxuicon:before { content: "\e626"; }

.jxt-celveyouxianjizhidingicon:before { content: "\e627"; }

.jxt-chacha-copy:before { content: "\e63a"; }

.jxt-wenhao1:before { content: "\e656"; }

.jxt-xiaolvdashiicon02-copy-copy:before { content: "\e659"; }

.jxt-jiangjia:before { content: "\e62c"; }

.jxt-huafei:before { content: "\e62d"; }

.jxt-xiala:before { content: "\e640"; }

.jxt-bangzhu:before { content: "\e64a"; }

.jxt-7tian:before { content: "\e630"; }

.jxt-zuotian:before { content: "\e631"; }

.jxt-shangsheng:before { content: "\e632"; }

.jxt-xiajiang:before { content: "\e633"; }

.jxt-laokezhuanhua:before { content: "\e634"; }

.jxt-icon1:before { content: "\e637"; }

.jxt-zhibiaoqushi:before { content: "\e64e"; }

.jxt-zhifu:before { content: "\e62e"; }

.jxt-xinshoubidu:before { content: "\e65b"; }

.jxt-xinshou:before { content: "\e65a"; }

.jxt-tianmao01:before { content: "\e649"; }

.jxt-yanzhengchenggong:before { content: "\e641"; }

.jxt-gongnengjieshao:before { content: "\e63d"; }

.jxt-shengji:before { content: "\e653"; }

.jxt-dingwei1:before { content: "\e642"; }

.jxt-leidatu:before { content: "\e643"; }

.jxt-paiming:before { content: "\e644"; }

.jxt-qushitu:before { content: "\e645"; }

.jxt-shangsheng1:before { content: "\e646"; }

.jxt-xianshi:before { content: "\e647"; }

.jxt-yincang:before { content: "\e648"; }

.jxt-bangzhufankui:before { content: "\e64f"; }

.jxt-zhiding:before { content: "\e650"; }

.jxt-maotou:before { content: "\e654"; }

.jxt-TOPpaiming:before { content: "\e71a"; }

.jxt-zhinengtuku:before { content: "\e71b"; }

.jxt-youhua:before { content: "\e71d"; }

.jxt-zhixiangjiantou:before { content: "\e71e"; }



* {
	margin: 0;
	padding: 0
}

.next-checkbox-label,
.next-radio-label {
	margin-left: 8px
}

.c-loading {
	line-height: 200px;
	text-align: center;
	font-size: 25px
}

.main-container {
	background: #f3f7ff;
	min-height: 1000px
}



.capacity-rating-page {
	padding: 16px
}

.capacity-rating-page .capacity-rating-title {
	font-size: 14px;
	margin-bottom: 20px
}

.capacity-rating-page .capacity-rating-title .last-update {
	float: right;
	font-size: 12px;
	color: #666
}

.capacity-rating-page .section-title {
	margin: 20px 0 12px;
	padding-left: 12px;
	border-left: 3px solid #333;
	font-size: 14px;
	height: 18px;
	line-height: 18px
}

.capacity-rating-page .figure-table,
.capacity-rating-page .bar-chart,
.capacity-rating-page .line-chart,
.capacity-rating-page .circle-chart {
	background: #fff;
	border: 1px solid #DEE5F3;
	margin-bottom: 16px
}

.capacity-rating-page .bar-chart,
.capacity-rating-page .line-chart,
.capacity-rating-page .circle-chart {
	padding: 20px 4px
}

.capacity-rating-page .line-chart {
	height: 340px;
	padding-top: 48px
}

.capacity-rating-page .repurchase-chart.line-chart {
	width: 100%
}

.capacity-rating-page .repurchase-chart.line-chart .chart-title {
	width: 100%;
	left: 0;
	top: 0;
	padding: 20px 16px
}

.capacity-rating-page .repurchase-chart.line-chart .repurchase-title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	width: 100%;
	position: relative
}

.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container .repurchase-cycle-radio .next-radio-wrapper {
	width: 80px;
	text-align: center
}

.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container .title {
	margin-right: 20px
}

.capacity-rating-page .bar-chart {
	height: 356px;
	padding-top: 60px
}

.capacity-rating-page .circle-chart {
	height: 300px;
	padding: 40px 4px 0
}

.capacity-rating-page .circle-chart .chart-pane-body {
	max-width: 880px
}

.capacity-rating-page .bar-chart,
.capacity-rating-page .line-chart,
.capacity-rating-page .circle-chart {
	position: relative
}

.capacity-rating-page .bar-chart .chart-title,
.capacity-rating-page .line-chart .chart-title,
.capacity-rating-page .circle-chart .chart-title {
	position: absolute;
	top: 20px;
	left: 16px;
	font-size: 14px
}

.capacity-rating-page .bar-chart .line-legend,
.capacity-rating-page .line-chart .line-legend,
.capacity-rating-page .circle-chart .line-legend {
	position: absolute;
	top: 0;
	right: 0
}

.capacity-rating-page .bar-chart .line-legend .legend-item,
.capacity-rating-page .line-chart .line-legend .legend-item,
.capacity-rating-page .circle-chart .line-legend .legend-item {
	display: inline-block;
	margin: 24px
}

.capacity-rating-page .bar-chart .line-legend .legend-item .legend-item-shape,
.capacity-rating-page .line-chart .line-legend .legend-item .legend-item-shape,
.capacity-rating-page .circle-chart .line-legend .legend-item .legend-item-shape {
	background: #A9AEBB;
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 8px;
	vertical-align: middle
}

.capacity-rating-page .bar-chart .line-legend .legend-item .legend-item-shape.selectable,
.capacity-rating-page .line-chart .line-legend .legend-item .legend-item-shape.selectable,
.capacity-rating-page .circle-chart .line-legend .legend-item .legend-item-shape.selectable {
	cursor: pointer
}

.capacity-rating-page .no-grade-set,
.capacity-rating-page .no-point-set {
	background: #fff;
	border: 1px solid #DEE5F3;
	text-align: center
}

.capacity-rating-page .no-grade-set {
	height: 610px;
	padding: 172px
}

.capacity-rating-page .no-grade-set .no-data-msg {
	margin: 15px 0 28px;
	font-size: 14px;
	color: #666
}

.capacity-rating-page .no-point-set {
	height: 200px;
	padding: 36px
}

.capacity-rating-page .no-point-set .no-data-msg {
	margin: 10px 0 28px;
	font-size: 12px;
	color: #999
}

.capacity-rating-page .next-icon-help {
	margin-left: 4px
}

.capacity-rating-page .no-data .chart-body {
	text-align: center;
	padding-top: 60px
}

.capacity-rating-page .no-data .no-data-msg {
	margin-top: 20px;
	color: #999
}

.fixed-nav .fixed-nav-main {
	padding-right: 200px
}

.fixed-nav .fixed-nav-main .fixed-nav-children {
	position: absolute;
	right: 0;
	height: 44px;
	width: 200px;
	background: blue
}

.fixed-nav .download-btn {
	font-size: 14px;
	color: #fff;
	background: #3089dc;
	padding: 0 24px;
	cursor: pointer
}

.fixed-nav .fixed-nav-tabs li,
.fixed-nav .download-btn {
	height: 50px;
	line-height: 50px
}

.figure-table {
	height: 160px;
	background: #fff
}

.figure-table .figure-table-head {
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	border-bottom: 1px solid #DEE5F3;
	position: relative
}

.figure-table .figure-table-head .figure-table-title {
	font-size: 14px
}

.figure-table .figure-table-head .figure-table-options {
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -10px;
	padding-right: 36px;
	height: 20px;
	line-height: 20px;
	color: #3089dc;
	cursor: default
}

.figure-table .figure-table-head .figure-table-options::after {
	content: ' ';
	display: block;
	position: absolute;
	width: 4px;
	height: 10px;
	top: 8px;
	right: 24px;
	border: 2px solid #fff;
	border-top: 5px solid #3089dc
}

.figure-table .figure-table-head .figure-table-options.rotate::after {
	content: ' ';
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	top: 3px
}

.figure-table .figure-table-body {
	padding: 20px 16px 0;
	height: 120px
}

.figure-table .figure-table-body .figure-table-item {
	display: inline-block;
	width: 20%
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-value {
	color: #333333;
	height: 50px;
	line-height: 50px
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-value b {
	font-family: "Swiss911BT-UltraCompressed";
	font-size: 38px;
	font-weight: 400
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-value .figure-unit {
	font-size: 14px
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-subtitle {
	color: #666
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue.up {
	color: #f23c3c
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue.down {
	color: #1dc11d
}

.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue .jxtportal {
	font-size: 12px
}

.figure-table .figure-table-body.no-data {
	padding-top: 12px
}

.figure-table .figure-table-body.no-data .chart-body {
	padding-top: 0
}

.figure-table .figure-table-body.no-data .no-data-msg {
	margin-top: 4px
}

.figure-table-balloon {
	max-width: none;
	width: 340px;
	padding: 12px;
	margin-top: -10px
}

.figure-table-balloon::after {
	opacity: 0
}

.figure-table-balloon .figure-table-form-item {
	padding: 16px 12px
}

.figure-table-balloon .figure-table-form-item .next-radio-group {
	margin-left: 22px
}

.figure-table-balloon .figure-table-form-item .next-radio-group label {
	width: 72px;
	display: inline-block
}

.figure-table-balloon .figure-table-balloon-foot {
	text-align: right
}

.ac-tooltip {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 5px 20px rgba(86, 104, 124, 0.69);
	height: calc(100% - 40px);
	max-height: 240px;
	width: 56px;
	padding: 10px;
	border-radius: 4px;
	position: absolute;
	visibility: hidden;
	transition: left .5s;
	text-align: center
}

.ac-tooltip .custom-table {
	position: absolute;
	left: -26px;
	bottom: auto;
	width: 108px;
	height: 60px;
	border-radius: 2px;
	background: #333
}

.ac-tooltip .custom-table::before {
	content: ' ';
	position: absolute;
	top: -3.53607px;
	left: 50%;
	margin-left: -3.53607px;
	background: transparent;
	border: 5px solid #333;
	border-right-color: transparent;
	border-bottom-color: transparent;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg)
}

.ac-tooltip .custom-table.point-down::before {
	border: 5px solid #333;
	border-left-color: transparent;
	border-top-color: transparent;
	bottom: -3.53607px;
	top: auto
}

.ac-tooltip .custom-table td {
	font-size: 12px
}

.ac-tooltip .custom-table td .tooltip-value {
	font-size: 16px
}

.ac-tooltip .tooltip-title,
.ac-tooltip .ac-title {
	color: #fff;
	font-size: 12px;
	line-height: 18px
}

.chart-hint-balloon {
	width: 155px;
	height: 70px;
	padding: 8px;
	color: #fff;
	background: #3089dc;
	border-radius: 4px
}

.chart-hint-balloon .next-btn {
	position: absolute;
	right: 12px;
	bottom: 8px
}

.chart-hint-balloon::after {
	background: #3089dc
}

.repurchase-explanation {
	width: 100%
}

.repurchase-explanation li {
	list-style-type: disc;
	padding: 5px 0px
}

.repurchase-explanation .exp-list {
	padding: 0 15px
}

.repurchase-explanation .img-container {
	width: 100%;
	padding: 10px 10px
}

.repurchase-explanation .img-container .exp-img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto
}

.fixed-nav {
	width: 100%;
	color: #333;
	position: relative
}

.fixed-nav .fixed-nav-main {
	background: #fff;
	border: 1px solid #dee5f3
}

.fixed-nav.fixed .fixed-nav-main {
	position: fixed;
	top: 58px;
	left: 172px;
	width: calc(100% - 172px);
	box-shadow: 0 2px 4px 0 rgba(214, 214, 214, 0.5);
	z-index: 11
}

.fixed-nav.fixed.is-qn .fixed-nav-main {
	top: 0
}

.fixed-nav .fixed-nav-tabs {
	text-align: center;
	border-top: 1px solid #dfe6f4;
	margin-top: -1px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly
}

.fixed-nav .fixed-nav-tabs li {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0 4px;
	font-size: 14px;
	cursor: pointer
}

.fixed-nav .fixed-nav-tabs li .fixed-nav-li-content {
	margin: auto;
	cursor: default
}

.fixed-nav .fixed-nav-tabs li.active {
	color: #3089dc;
	border-bottom: 3px solid #3089dc
}

.fixed-nav .fixed-nav-tabs li .next-icon-map {
	position: relative;
	right: 2px
}

.fixed-nav .fixed-nav-tabs li .next-icon-map::before {
	content: "\E647"
}







.jxtportal {
  font-family:"jxtportal" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jxt-f10:before { content: "\e611"; }

.jxt-graphrise:before { content: "\e657"; }

.jxt-bianji1:before { content: "\e65c"; }

.jxt-fenlei:before { content: "\e63b"; }

.jxt-beizhu:before { content: "\e609"; }

.jxt-arrowright:before { content: "\e638"; }

.jxt-wenhao:before { content: "\e63c"; }

.jxt-chenggong:before { content: "\e64b"; }

.jxt-dingdan:before { content: "\e629"; }

.jxt-back-top:before { content: "\e61a"; }

.jxt-dingwei:before { content: "\e658"; }

.jxt-dianpu:before { content: "\e60f"; }

.jxt-shanchu:before { content: "\e62a"; }

.jxt-jiangpai:before { content: "\e651"; }

.jxt-duigou:before { content: "\e613"; }

.jxt-right:before { content: "\e60d"; }

.jxt-link:before { content: "\e61d"; }

.jxt-new:before { content: "\e681"; }

.jxt-shangchuan:before { content: "\e6a5"; }

.jxt-iconfontonetouchqianyue:before { content: "\e635"; }

.jxt-iconfonttupian:before { content: "\e61e"; }

.jxt-kehuguanli:before { content: "\e639"; }

.jxt-huiyuan:before { content: "\e628"; }

.jxt-huodong:before { content: "\e61f"; }

.jxt-icon:before { content: "\e655"; }

.jxt-zhuangxiu:before { content: "\e652"; }

.jxt-iconfontwenjian:before { content: "\e63e"; }

.jxt-moban:before { content: "\e636"; }

.jxt-youhuiquan:before { content: "\e62b"; }

.jxt-bangzhuzhongxin:before { content: "\e600"; }

.jxt-celvezhongxin:before { content: "\e601"; }

.jxt-huiyuanzhongxin:before { content: "\e602"; }

.jxt-kehuzhongxin:before { content: "\e603"; }

.jxt-quanyizhongxin:before { content: "\e604"; }

.jxt-shouye:before { content: "\e605"; }

.jxt-yingyongfuwu:before { content: "\e606"; }

.jxt-yingxiaozhongxin:before { content: "\e607"; }

.jxt-toutiao:before { content: "\e608"; }

.jxt-down:before { content: "\e60a"; }

.jxt-up:before { content: "\e60c"; }

.jxt-tianjia:before { content: "\e60b"; }

.jxt-bianji:before { content: "\e610"; }

.jxt-juxing11:before { content: "\e64d"; }

.jxt-gouwudai:before { content: "\e620"; }

.jxt-mingcheng:before { content: "\e612"; }

.jxt-yigou:before { content: "\e614"; }

.jxt-fangke:before { content: "\e615"; }

.jxt-jiahao:before { content: "\e616"; }

.jxt-jianhao:before { content: "\e617"; }

.jxt-gexinghuashouye:before { content: "\e618"; }

.jxt-gexinghuaxiangqing:before { content: "\e619"; }

.jxt-zhankaiicon:before { content: "\e61b"; }

.jxt-shouqiicon:before { content: "\e61c"; }

.jxt-guide:before { content: "\e64c"; }

.jxt-renqun:before { content: "\e621"; }

.jxt-yemian:before { content: "\e622"; }

.jxt-dianpu1:before { content: "\e623"; }

.jxt-shangpinxiliepianhaoicon:before { content: "\e60e"; }

.jxt-xiala-copy:before { content: "\e63f"; }

.jxt-juxingtaipingmianicon:before { content: "\e624"; }

.jxt-comiisfangke:before { content: "\e62f"; }

.jxt-celveyouxianjijiangicon:before { content: "\e625"; }

.jxt-celveyouxianjishengxuicon:before { content: "\e626"; }

.jxt-celveyouxianjizhidingicon:before { content: "\e627"; }

.jxt-chacha-copy:before { content: "\e63a"; }

.jxt-wenhao1:before { content: "\e656"; }

.jxt-xiaolvdashiicon02-copy-copy:before { content: "\e659"; }

.jxt-jiangjia:before { content: "\e62c"; }

.jxt-huafei:before { content: "\e62d"; }

.jxt-xiala:before { content: "\e640"; }

.jxt-bangzhu:before { content: "\e64a"; }

.jxt-7tian:before { content: "\e630"; }

.jxt-zuotian:before { content: "\e631"; }

.jxt-shangsheng:before { content: "\e632"; }

.jxt-xiajiang:before { content: "\e633"; }

.jxt-laokezhuanhua:before { content: "\e634"; }

.jxt-icon1:before { content: "\e637"; }

.jxt-zhibiaoqushi:before { content: "\e64e"; }

.jxt-zhifu:before { content: "\e62e"; }

.jxt-xinshoubidu:before { content: "\e65b"; }

.jxt-xinshou:before { content: "\e65a"; }

.jxt-tianmao01:before { content: "\e649"; }

.jxt-yanzhengchenggong:before { content: "\e641"; }

.jxt-gongnengjieshao:before { content: "\e63d"; }

.jxt-shengji:before { content: "\e653"; }

.jxt-dingwei1:before { content: "\e642"; }

.jxt-leidatu:before { content: "\e643"; }

.jxt-paiming:before { content: "\e644"; }

.jxt-qushitu:before { content: "\e645"; }

.jxt-shangsheng1:before { content: "\e646"; }

.jxt-xianshi:before { content: "\e647"; }

.jxt-yincang:before { content: "\e648"; }

.jxt-bangzhufankui:before { content: "\e64f"; }

.jxt-zhiding:before { content: "\e650"; }

.jxt-maotou:before { content: "\e654"; }

.jxt-TOPpaiming:before { content: "\e71a"; }

.jxt-zhinengtuku:before { content: "\e71b"; }

.jxt-youhua:before { content: "\e71d"; }

.jxt-zhixiangjiantou:before { content: "\e71e"; }



*{margin:0;padding:0}.next-checkbox-label, .next-radio-label{margin-left:8px}.c-loading{line-height:200px;text-align:center;font-size:25px}.main-container{background:#f3f7ff;min-height:1000px}@font-face{font-family:'jxtportal';src:url("//at.alicdn.com/t/font_68174_8lcovqif8ph9f6r.eot");src:url("//at.alicdn.com/t/font_68174_8lcovqif8ph9f6r.eot?#iefix") format("embedded-opentype"),url("//at.alicdn.com/t/font_68174_8lcovqif8ph9f6r.woff") format("woff"),url("//at.alicdn.com/t/font_68174_8lcovqif8ph9f6r.ttf") format("truetype"),url("//at.alicdn.com/t/font_68174_8lcovqif8ph9f6r.svg#jxtportal") format("svg")}@font-face{font-family:"Swiss911BT-UltraCompressed";src:url("//g.alicdn.com/blue/blue-font/0.0.4/Swiss.ttf"),url("//g.alicdn.com/blue/blue-font/0.0.4/Swiss.woff")}.capacity-rating-page{padding:16px}.capacity-rating-page .capacity-rating-title{font-size:14px;margin-bottom:20px}.capacity-rating-page .capacity-rating-title .last-update{float:right;font-size:12px;color:#666}.capacity-rating-page .section-title{margin:20px 0 12px;padding-left:12px;border-left:3px solid #333;font-size:14px;height:18px;line-height:18px}.capacity-rating-page .figure-table, .capacity-rating-page .bar-chart, .capacity-rating-page .line-chart, .capacity-rating-page .circle-chart{background:#fff;border:1px solid #DEE5F3;margin-bottom:16px}.capacity-rating-page .bar-chart, .capacity-rating-page .line-chart, .capacity-rating-page .circle-chart{padding:20px 4px}.capacity-rating-page .line-chart{height:340px;padding-top:48px}.capacity-rating-page .repurchase-chart.line-chart{width:100%}.capacity-rating-page .repurchase-chart.line-chart .chart-title{width:100%;left:0;top:0;padding:20px 16px}.capacity-rating-page .repurchase-chart.line-chart .repurchase-title{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;width:100%;position:relative}.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container{display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%)}.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container .repurchase-cycle-radio .next-radio-wrapper{width:80px;text-align:center}.capacity-rating-page .repurchase-chart.line-chart .repurchase-title .repurchase-cycle-container .title{margin-right:20px}.capacity-rating-page .bar-chart{height:356px;padding-top:60px}.capacity-rating-page .circle-chart{height:300px;padding:40px 4px 0}.capacity-rating-page .circle-chart .chart-pane-body{max-width:880px}.capacity-rating-page .bar-chart, .capacity-rating-page .line-chart, .capacity-rating-page .circle-chart{position:relative}.capacity-rating-page .bar-chart .chart-title, .capacity-rating-page .line-chart .chart-title, .capacity-rating-page .circle-chart .chart-title{position:absolute;top:20px;left:16px;font-size:14px}.capacity-rating-page .bar-chart .line-legend, .capacity-rating-page .line-chart .line-legend, .capacity-rating-page .circle-chart .line-legend{position:absolute;top:0;right:0}.capacity-rating-page .bar-chart .line-legend .legend-item, .capacity-rating-page .line-chart .line-legend .legend-item, .capacity-rating-page .circle-chart .line-legend .legend-item{display:inline-block;margin:24px}.capacity-rating-page .bar-chart .line-legend .legend-item .legend-item-shape, .capacity-rating-page .line-chart .line-legend .legend-item .legend-item-shape, .capacity-rating-page .circle-chart .line-legend .legend-item .legend-item-shape{background:#A9AEBB;display:inline-block;width:12px;height:12px;margin-right:8px;vertical-align:middle}.capacity-rating-page .bar-chart .line-legend .legend-item .legend-item-shape.selectable, .capacity-rating-page .line-chart .line-legend .legend-item .legend-item-shape.selectable, .capacity-rating-page .circle-chart .line-legend .legend-item .legend-item-shape.selectable{cursor:pointer}.capacity-rating-page .no-grade-set, .capacity-rating-page .no-point-set{background:#fff;border:1px solid #DEE5F3;text-align:center}.capacity-rating-page .no-grade-set{height:610px;padding:172px}.capacity-rating-page .no-grade-set .no-data-msg{margin:15px 0 28px;font-size:14px;color:#666}.capacity-rating-page .no-point-set{height:200px;padding:36px}.capacity-rating-page .no-point-set .no-data-msg{margin:10px 0 28px;font-size:12px;color:#999}.capacity-rating-page .next-icon-help{margin-left:4px}.capacity-rating-page .no-data .chart-body{text-align:center;padding-top:60px}.capacity-rating-page .no-data .no-data-msg{margin-top:20px;color:#999}.fixed-nav .fixed-nav-main{padding-right:200px}.fixed-nav .fixed-nav-main .fixed-nav-children{position:absolute;right:0;height:44px;width:200px;background:blue}.fixed-nav .download-btn{font-size:14px;color:#fff;background:#3089dc;padding:0 24px;cursor:pointer}.fixed-nav .fixed-nav-tabs li, .fixed-nav .download-btn{height:50px;line-height:50px}.figure-table{height:160px;background:#fff}.figure-table .figure-table-head{height:40px;line-height:40px;padding:0 16px;border-bottom:1px solid #DEE5F3;position:relative}.figure-table .figure-table-head .figure-table-title{font-size:14px}.figure-table .figure-table-head .figure-table-options{position:absolute;right:0px;top:50%;margin-top:-10px;padding-right:36px;height:20px;line-height:20px;color:#3089dc;cursor:default}.figure-table .figure-table-head .figure-table-options::after{content:' ';display:block;position:absolute;width:4px;height:10px;top:8px;right:24px;border:2px solid #fff;border-top:5px solid #3089dc}.figure-table .figure-table-head .figure-table-options.rotate::after{content:' ';transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);top:3px}.figure-table .figure-table-body{padding:20px 16px 0;height:120px}.figure-table .figure-table-body .figure-table-item{display:inline-block;width:20%}.figure-table .figure-table-body .figure-table-item .figure-table-item-value{color:#333333;height:50px;line-height:50px}.figure-table .figure-table-body .figure-table-item .figure-table-item-value b{font-family:"Swiss911BT-UltraCompressed";font-size:38px;font-weight:400}.figure-table .figure-table-body .figure-table-item .figure-table-item-value .figure-unit{font-size:14px}.figure-table .figure-table-body .figure-table-item .figure-table-item-subtitle{color:#666}.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue.up{color:#f23c3c}.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue.down{color:#1dc11d}.figure-table .figure-table-body .figure-table-item .figure-table-item-subvalue .jxtportal{font-size:12px}.figure-table .figure-table-body.no-data{padding-top:12px}.figure-table .figure-table-body.no-data .chart-body{padding-top:0}.figure-table .figure-table-body.no-data .no-data-msg{margin-top:4px}.figure-table-balloon{max-width:none;width:340px;padding:12px;margin-top:-10px}.figure-table-balloon::after{opacity:0}.figure-table-balloon .figure-table-form-item{padding:16px 12px}.figure-table-balloon .figure-table-form-item .next-radio-group{margin-left:22px}.figure-table-balloon .figure-table-form-item .next-radio-group label{width:72px;display:inline-block}.figure-table-balloon .figure-table-balloon-foot{text-align:right}.ac-tooltip{background:rgba(255,255,255,0.5);box-shadow:0 5px 20px rgba(86,104,124,0.69);height:calc(100% - 40px);max-height:240px;width:56px;padding:10px;border-radius:4px;position:absolute;visibility:hidden;transition:left .5s;text-align:center}.ac-tooltip .custom-table{position:absolute;left:-26px;bottom:auto;width:108px;height:60px;border-radius:2px;background:#333}.ac-tooltip .custom-table::before{content:' ';position:absolute;top:-3.53607px;left:50%;margin-left:-3.53607px;background:transparent;border:5px solid #333;border-right-color:transparent;border-bottom-color:transparent;transform:rotate(45deg);-webkit-transform:rotate(45deg)}.ac-tooltip .custom-table.point-down::before{border:5px solid #333;border-left-color:transparent;border-top-color:transparent;bottom:-3.53607px;top:auto}.ac-tooltip .custom-table td{font-size:12px}.ac-tooltip .custom-table td .tooltip-value{font-size:16px}.ac-tooltip .tooltip-title, .ac-tooltip .ac-title{color:#fff;font-size:12px;line-height:18px}.chart-hint-balloon{width:155px;height:70px;padding:8px;color:#fff;background:#3089dc;border-radius:4px}.chart-hint-balloon .next-btn{position:absolute;right:12px;bottom:8px}.chart-hint-balloon::after{background:#3089dc}.repurchase-explanation{width:100%}.repurchase-explanation li{list-style-type:disc;padding:5px 0px}.repurchase-explanation .exp-list{padding:0 15px}.repurchase-explanation .img-container{width:100%;padding:10px 10px}.repurchase-explanation .img-container .exp-img{display:block;max-width:100%;width:100%;height:auto}
.fixed-nav{width:100%;color:#333;position:relative}.fixed-nav .fixed-nav-main{background:#fff;border:1px solid #dee5f3}.fixed-nav.fixed .fixed-nav-main{position:fixed;top:58px;left:172px;width:calc(100% - 172px);box-shadow:0 2px 4px 0 rgba(214,214,214,0.5);z-index:11}.fixed-nav.fixed.is-qn .fixed-nav-main{top:0}.fixed-nav .fixed-nav-tabs{text-align:center;border-top:1px solid #dfe6f4;margin-top:-1px;display:-ms-flexbox;display:flex;-ms-flex-pack:space-evenly;justify-content:space-evenly}.fixed-nav .fixed-nav-tabs li{display:inline-block;height:50px;line-height:50px;padding:0 4px;font-size:14px;cursor:pointer}.fixed-nav .fixed-nav-tabs li .fixed-nav-li-content{margin:auto;cursor:default}.fixed-nav .fixed-nav-tabs li.active{color:#3089dc;border-bottom:3px solid #3089dc}.fixed-nav .fixed-nav-tabs li .next-icon-map{position:relative;right:2px}.fixed-nav .fixed-nav-tabs li .next-icon-map::before{content:"\E647"}
